﻿@model IEnumerable<MyStockListing.Business.DTOs.Output.ProductOutputDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="display:flex;">
    <div>
        <table class="mvc-grid" style="margin-right:20px">
            <tr>
                <td class="form-check-label">Product Name: </td>
                <td><input class="form-control" id="txtProductName" type="text" /></td>
            </tr>
            <tr>
                <td>Created At: </td>
                <td>
                    <div>
                        <div>
                            Min
                            <input class="form-control" id="dtMinDate" type="datetime-local" />
                        </div>
                        <div>
                            Max
                            <input class="form-control" id="dtMaxDate" type="datetime-local" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="align-content-end">
                    <button class="btn btn-success btn-block" onclick="submitProductFilters()">OK</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="productsArea" style="width: 100%">
        @Html.AjaxGrid(Url.Action("IndexGrid"))
    </div>

</div>
