﻿@model GenericGridModel
@* Should only include grid declaration *@

@(Html.Grid(Model.Items)
              .Build(columns =>
              {
                  if (Model.Items != null && Model.Items.Count() > 0)
                  {
                      var props = Model.Items
                          .ElementAt(0)
                          .GetType()
                          .GetProperties()
                          .Where(x => Model.Columns.Contains(x.Name));

                      foreach (var item in props)
                      {
                          columns.Add(model => item.GetValue(model)).Sortable(true).FilteredAs("custom").Titled(item.Name);
                      }

                      if (Model.CRUDActions)
                      {
                          var idProp = Model.Items.ElementAt(0).GetType().GetProperty("Id");
                          columns.Add().Encoded(false).RenderedAs(model => $"<a href='/{Model.SetName}/Edit/{@idProp.GetValue(model)}'>Edit</a> | <a href='/{Model.SetName}/Delete/{@idProp.GetValue(model)}'>Delete</a>");
                      }
                  }
              }).Empty("No data found")
                    .Id(Model.GridId)
                    .Pageable(pager =>
                    {
                        pager.PagesToDisplay = 2;
                        pager.RowsPerPage = 10;
                    })
                    .Filterable()
                    .Sortable())