﻿@model IEnumerable<MyStockListing.Business.DTOs.Output.InventoryItemOutputDTO>

@{
    ViewData["Title"] = "Stock Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StockReport</h1>
@Html.AjaxGrid(Url.Action("StockReportGrid"))
