﻿@model MyStockListing.Business.DTOs.Input.WarehouseInputDTO

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitude" class="control-label"></label>
                <input asp-for="Latitude" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Longitude" class="control-label"></label>
                <input asp-for="Longitude" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Country</label>
                <select class="form-control" asp-items="ViewBag.countries"></select>
            </div>
            <div class="form-group">
                <label class="control-label">City</label>
                <select id="cityList" class="form-control" asp-items="ViewBag.cities">
                    <option>Select a City</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Districts</label>
                <select id="districtList" asp-for="DistrictId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}