﻿@model IEnumerable<MyStockListing.Business.DTOs.Output.WarehouseOutputDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="display:flex;">
    <div>
        <table class="mvc-grid" style="margin-right:20px">
            <tr>
                <td>Within 10KM Radius: </td>
                <td>
                    <div>
                        <div>
                            Longitude
                            <input class="form-control" id="txtLongitude" type="number" />
                        </div>
                        <div>
                            Latitude
                            <input class="form-control" id="txtLatitude" type="number" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="align-content-end">
                    <button class="btn btn-success btn-block" onclick="submitWarehouseFilters()">OK</button>
                </td>
            </tr>
        </table>
    </div>

    <div id="warehousesArea" style="width: 100%">
        @Html.AjaxGrid(Url.Action("IndexGrid"))
    </div>

</div>
