﻿@model IEnumerable<MyStockListing.Business.DTOs.Output.InventoryItemOutputDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@Html.AjaxGrid(Url.Action("IndexGrid"))
